$color-primary: #2e8b57;
$color-white: #fafafa;
$color-secondary: #38a367;

@import "./sections/hero";
@import "./reset";
@import "./sections/about";
@import "./sections/services";
@import "./sections/footer";
